.dnd5e.sheet.item .dynamicitems-effect-list {
    list-style: none;
    margin: 0;
    padding: 0 5px;
    overflow-y: auto;
  }
  .dnd5e.sheet.item .dynamicitems-effect-list .effect {
    line-height: 30px;
    padding: 0 2px;
    border-bottom: 1px solid #c9c7b8;
  }

  .dnd5e.sheet.item .dynamicitems-effect-list .effect .effect-name {
    cursor: pointer;
    min-width: 250
  }

  .dnd5e.sheet.item .dynamicitems-effect-list .effect .effect-name h4 {
    margin: 0;
  }
  .dnd5e.sheet.item  .effect-header {
    margin: 2px 0;
    padding: 0;
    background: rgba(0, 0, 0, 0.05);
    border: 3px groove #eeede0;
    font-weight: bold;
    line-height: 24px;
  }
  .dnd5e.sheet.item .dynamicitems-effect-list .effect-header h3 {
    margin: 0 0px 0 0;
    padding-left: 0px;
    font-size: 13px;
    font-weight: bold;
  }

  .dnd5e.sheet.item .dynamicitems-effect-list .effect-name,
  .dnd5e.sheet.item .dynamicitems-effect-list .effect-label
  {
    flex: 0 0 250px;
    border-left: 1px solid #c9c7b8;
    border-right: 1px solid #c9c7b8;
  }
  .dnd5e.sheet.item .dynamicitems-effect-list .effect-mode
  {
    flex: 0 0 40px;
    border-left: 1px solid #c9c7b8;
    border-right: 1px solid #c9c7b8;
  }
  .dnd5e.sheet.item .dynamicitems-effect-list .effect-value
  {
    flex: 0 0 120px;
    border-left: 1px solid #c9c7b8;
    border-right: 1px solid #c9c7b8;
    min-width: 120;
  }
  .dnd5e.sheet.item .dynamicitems-effect-list .effect-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .dnd5e.sheet.item .dynamicitems-effect-list .effect-controls {
    flex: 2 0 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-content: flex-end;
  }
  .dnd5e.sheet.item .dynamicitems-effect-list .effect-controls > * {
    flex: 1;
  }
  .dnd5e.sheet.item .dynamicitems-effect-list .effect-controls .flex1 {
    flex: 1;
  }
  .dnd5e.sheet.item .dynamicitems-effect-list .effect-controls .flex2 {
    flex: 2;
  }
  .dnd5e.sheet.item .dynamicitems-effect-list .effect-controls .flex3 {
    flex: 3;
  }
  .dnd5e.sheet.item .dynamicitems-effect-list .effect-controls .flex4 {
    flex: 4;
  }
  .dnd5e.sheet.item .dynamicitems-effect-list .effect-controls a {
    flex: 0 0 44px;
    font-size: 10px;
    text-align: center;
    color: #666;
  }
